<div class="content"></div>

<script type="text/javascript">
  $(function() {
    window.article = <%= raw @article.to_json(include: :versions) %>;
    new_article = new App.Article(article);
    av = new App.ArticleView({model: new_article});
    $('div.content').html(av.el);
    merge_adjacent('del')
    merge_adjacent('ins')
  });

</script>

<script type="text/template" id="slider-template">
  <div >
    {{ if (total_versions > 1) { }}
      <input id="slider" type="text" class="span4" value="" data-slider-min="1" data-slider-max="{{= total_versions }}" data-slider-step="1" data-slider-value="[{{= first_selected_version }}, {{= last_selected_version }}]" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="show">
    {{ } }}
  </div>
  <b>{{= url }}</b><br>
</script>


<script type="text/template" id="item-template">
  <div class="article">
    <div class="versions">Total versions: {{= total_versions }}</div>
    <b>Version {{= first_selected_version }} - {{= last_selected_version }}:</b>
    <br>
    
    <div class="version1">
      {{= diffed_version.text }}
    </div>
  </div>
</script>