// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// body
//   width: 600px
//   margin: 0 auto
//   font-family: Helvetica

ins
  background: #b9f1b8

del
  background: #e69394

.content
  padding: 30px 0

.article, #tiny_article
  width: 40em
  line-height: 1.5
  // font-size: 20px

#tiny_article
  position: fixed
  right: 30px
  top: 20px
  width: 145px
  font-size: 3px
  line-height: 2px