<!DOCTYPE html>
<html>
<head>
  <title>ToDiffer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <!-- <script src="https://raw.github.com/chjj/marked/master/lib/marked.js" /> -->
</body>
</html>
